body{
    font-family: Arial, sans-serif;
    font-size: 1.25rem; /* 20px / 16px = 1.25rem */
    font-weight: bold;
    line-height: 1.5;
    background-color: beige;
}

*,
*::before,
*::after{
    box-sizing: border-box;
}

p {
    margin: 0 0 0.3125rem; /* 5px / 16px = 0.3125rem */
}

.bayan{
    max-width: 31.25rem; /* 500px / 16px = 31.25rem */
    margin: 1.25rem auto; /* 20px / 16px = 1.25rem */
}

.bayan-title{
    display: block;
    padding: 0.625rem 0.9375rem; /* 10px / 16px = 0.625rem, 15px / 16px = 0.9375rem */

    cursor: pointer;
    color: blue;

    transition: background .2s ease-in-out;
    position: relative;
}
.bayan-title::after{
    content: '';
    display: block;
    border-style: solid;
    border-width: 0.5rem 0.3125rem 0 0.3125rem; /* 8px / 16px = 0.5rem, 5px / 16px = 0.3125rem */
    border-color: #111 transparent transparent transparent;
    position: absolute;
    top: 50%;
    right: 0.9375rem; /* 15px / 16px = 0.9375rem */

    transform: translateY(-50%);
}

.bayan-title:hover {
    color: black;
}
.bayan-item{
    margin-bottom: 0.3125rem; /* 5px / 16px = 0.3125rem */
    border: 0.0625rem solid red; /* 1px / 16px = 0.0625rem */
}


.bayan-input{
    width: 0;
    height: 0;

    appearance: none;

    position: absolute;
}



.bayan-input:hover ~ .bayan-title{
    background-color: rebeccapurple;
    display: block;
}

.bayan-input:hover ~ .bayan-title::after{
    border-style: solid;
    border-width: 0 0.3125rem 0.5rem 0.3125rem; /* 8px / 16px = 0.5rem, 5px / 16px = 0.3125rem */
    border-color: transparent transparent #111 transparent;

}
.bayan-input:hover ~ .bayan_picture{
    display: block;
}

.bayan_picture{
    display: none;
    padding: 0.625rem 0.9375rem; /* 10px / 16px = 0.625rem, 15px / 16px = 0.9375rem */
    transition: opacity 0.8s ease-in-out;
}

.bayan-input:checked ~ .bayan_picture {
    display: block;
  }

img {
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
}


  .bayan-title:hover ~ .bayan_picture img {
    transform: scale(0.9);
    transition: transform 0.8s ease-in-out;
  }

  .bayan-picture img:hover {
    transform: scale(0.9);
  }

